ul {
    height: 90vh;
    margin: 0;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

ul li:hover,
ul li:focus {
    background-color: #fafafa;
}

.story_title {
    color: #333;
    font-size: 13pt;
}

.story_author {
    color: #999;
    font-size: 13pt;
}

.container-title {
    width: 80%;
}

.container-action {
    width: 10%;
    text-align: center;
}

.url {
    text-decoration: none;
}
